*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.SignIn{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #53565A; */
    background-color: rgb(190, 222, 236);

}

form{
    display: block;
    position: relative;
    
}

form::after{
    content: "";
    display: block;
    position:absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
}

form .form-inner{
    position: relative;
    display: block;
    background-color:rgb(248, 244, 244);
    padding: 100px;
    z-index: 2;
    border-radius: 5px;

}

form .form-inner h2 {
    color: #888;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
}

form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label {
    display: block;
    color: rgb(8, 1, 1);
    font-size: 20px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color:#0a0809;
}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 20px 20px;
    background-color: #b3a0a0;
    border-radius: 0px;
    transition: 0.4s;
    font: 1em sans-serif;
    border: none;
    outline: none;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

form .form-inner input[type = "submit"], .welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color:rgb(5, 0, 0);
    font-weight: 700;
    cursor:pointer;
}

form .form-inner input[type = "submit"]:hover, .welcome button:hover {
    background-position: 100% 0%;
    background-color: lightgreen;
}

/* .welcome {
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    padding: 15px 30px;
}

.welcome h2{
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome h2 span {
    color: #b3949d;
    font-weight: 700;
} */